body{
	text-align: center;
	background-color: #dfdfdf;
    background-color: #dfdfdf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23817f83' fill-opacity='0.11'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header{
	background: white;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	border-style:solid;
	border-bottom-width: 2px;
	border-color: #cccccc;
}

#Top{
    margin:0 auto;
	width: 960px;
}

.clearfix::after {
	content: '';
	clear:both;
	display: block;
}


#Yourname{
	font-family:"Georgia";
	background: #4aaaa5;
	color:white;
	margin-top: 0;
	padding:25px;
    font-size:27px;
	text-align: center;
	margin-bottom: 0;
	float:left;

}

nav{
	float:right;
	margin-top: 30px;
	/*margin-right:10px;*/
}

.Click{
	color:#98a3c5;
	font-size:16px;
	text-decoration: none; 
	font-weight: lighter;
	font-family: "Helvetica";
}

.orta{
	width: 960px;
	margin: 0 auto;
	height:80vh;

}

input[type=text], select{
    width: 580px;
    padding: 12px 12px;
    margin-bottom: 10px;
    margin-left: 20px;
    color:#dddddd;
    border-width: 2px;
    font-size:17px;
}

#Contact{
    font-size: 27px;
    letter-spacing: .5px;
    margin-top: 22px;
}


#left{
	float:left;
	width: 650px;
	margin-top:40px;
	background: #ffffff;
	margin-right: 16px;
	text-align: left;
	border-width: 2px;
	border-color: #eeeeee;
	border-style:solid;
	margin-bottom: 100px;
	/*height: 500px;*/
	overflow: auto;
}

#leftport{
	float:left;
	width: 650px;
	margin-top:40px;
	background: #ffffff;
	margin-right: 16px;
	text-align: left;
	border-width: 2px;
	border-color: #eeeeee;
	border-style:solid;
	margin-bottom: 100px;
	height:800px;
}


hr{
	margin-left: 20px;
	margin-right: 20px;
	border-style: solid;
	border-color:#dddddd;
	border-width: 2px;

}

.relatif{
	position:relative;
	display: inline-block;
	
}


.portfolios{
	height: 180px;
	width: 280px;
	margin:20px;
	float:left;
}
.banner{
	position:absolute;
	float:left;
	padding:15px;
	background:#4aaaa5;
	color:white;
	width: 250px;
	text-align:center;
	font-size:20px; 
	margin-left:20px;
	margin-top:140px;

}
  

.aboutme{
	font-size:27px; 
	font-family: "Georgia";
	margin-left: 20px;
	margin-top: 22px;
	
}

#mypicture{clear:both;
	float:left;
	height: 250px;
	width: 180px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 20px;

}

p{
	margin-top:30px;
	color:#777777;
	font-family:"Helvetica";
	font-weight: lighter;
	line-height: 20px;
	margin-right: 20px;
	font-size:17px;
}

.Formtext{
	margin-left:20px;
	font-size:17px;
	color:#777777;
	font-family:"Helvetica";
	
}

textarea{
	margin-left: 20px;
	width: 600px;
	height: 125px;
	color:#dddddd;
    border-width: 2px;
}

#submit{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:20px;
	padding: 8px 26px;
	background: #4aaaa5;
	color:white;
	font-family: "Helvetica";
	font-size:17px;
	font-weight: lighter;
}
aside{
	margin-top: 40px;
	width: 270px;
	background: white;
	float:left;
	margin-left: 16px;
	border-width: 2px;
	border-color: #eeeeee;
	border-style:solid;
	height: 150px;
}

#contactline{
	margin-left: 15px;
	margin-right: 15px;
	border-style: solid;
	border-color:#dddddd;
	border-width: 2px;

}

.logos{
	width: 55px;
	height: 55px;
	margin-left: 15px;
	margin-top: 15px;
}


footer{
	clear:both;
	padding:30px;
	background: #666666;
	border-style:solid;
	border-top-width: 5px;
	border-color:#4aaaa5;
	color:	#D3D3D3;
	font-size:15px;

}

h1{
	font-family:"Georgia";
	color:#4aaaa5;
	margin:15px;
	font-size: 23px;
}
#mypicture2{
	display:none;
}

/* Responsive-Basic_Portfolio */ 
/*for those medias for index.html*/

@media screen and (max-width:980px){
	#Top{
		width:760px;
	}
	.orta{
		width: 760px;
	}
	#left{
		width:450px;
		overflow:auto;
	}
	#mypicture{
		width: 410px;
		height: 500px;
		margin:20px;
	}
	
	p{
		margin:20px;
	}
	a{
		font-size:13px;
	}
}

@media screen and (max-width:768px){
	#Top{
		width:600px;
	}
	.orta{
		width: 600px;
	}
	#left{
         width:600px;
         overflow:auto;
         margin-bottom:40px;
	}
	#mypicture{
		width:250px;
		height:350px;
	}
	aside{
		width: 600px;
		float:left;
		margin:0 auto;
		margin-bottom:40px;
	}

	/*this part how require from homework but I dont think its eyeable */
	/*h1{
		float:left;
	}
	#contactline{
		width:560px;
		margin-top: 50px;
	}

	.logos{
		float:left;
	}*/
	a{
		font-size:10px;
	}

}

@media screen and (max-width:640px){

	#left{
		overflow:auto;
		width: 580px;
		/*float:left;*/
	   
	    margin-top:40px;
	    background: #ffffff;
	    margin-right: 16px;
	    text-align: left;
	    border-width: 2px;
	    border-color: #eeeeee;
	    border-style:solid;
	    margin-bottom: 40px;
	
	}
	#Top{
		width:640px;
	}
	#Yourname{
		width:590px;
	}
	nav{
		width: 640px;
		margin:20px;
		margin-right:0 auto;

	}
	.Click{
		padding-left:80px;
		padding-right:30px;
	}
	#mypicture{
		display:none;
	}
	#mypicture2{
		display:block;
		width:460px;
		height:350px;
		margin-left:60px;
	}
	
}
	
/*these medias for portfolio.html*/

@media screen and (max-width:980px){
	#leftport{
		width:450px;
		overflow:auto;
	}
	.portfolios{
		width:400px;
		height:300px;
	}
	.banner{
		width: 370px;
		margin-top:230px;
	}

}
/*is there anyway i can reset first styles until here?*/

@media screen and (max-width:768px){
	#leftport{
		width:600px;
		overflow:auto;
		margin-bottom:40px;
	}
	.portfolios{
		width: 250px;
		height:180px;
		margin: 20px;
	}
	.banner{
		width:220px;
		margin-top: 140px;
	}
	aside{
		margin:0 auto;
		margin-bottom:40px;
	}
}
@media screen and (max-width:640px){
	#leftport{
		width: 600px;
		overflow:auto;
	}
	.portfolios{
		width:500px;
		height:300px;
		margin-left:50px;
	}
	.banner{
		margin-left:50px;
		width: 470px;
		margin-top:260px;
	}
}
/*this part for contact.html*/

@media screen and (max-width:980px){
	textarea{
		width:400px;
	}
	#deneme{
		width: 380px;
	}
	#deneme1{
		width: 380px;
	}
}
@media screen and (max-width:768px){
	#left{
		width:640px;
		overflow:auto;
	}
	textarea{
		width:600px;
	}
	#deneme{
		width: 580px;
	}
	#deneme1{
		width: 580px;
	}
	aside{
		width: 640px;
	}

}
@media screen and (max-width:640px){
	#left{
		width:580px;
		
		margin-left: 10px;
		
	}
	textarea{
		width:530px;
	}
	#deneme{
		width: 510px;
	}
	#deneme1{
		width: 510px;
	}
	aside{
		width: 580px;
		margin-left:10px;
	}
}


